
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascript/ux.js" charset="utf-8"></script>

    <footer><p>Made with ❤️ by Josue Arreola</p></footer>
</body>

</html>
