<div class="bg">
  <div class="vertical-center">
    <h2><%= pageTitle %></h2>
    <div class="iconbg">
      <i class=" fab fa-facebook-f "></i>
      </div>
      <div class="iconbg">
          <i class=" fab fa-twitter"></i>
      </div>
      <div class="iconbg">
        <i class=" fab fa-instagram"></i>
      </div>

      <div class="iconbg">
        <i class=" fab fa-linkedin-in"></i>
      </div>


  </div>
</div>
