<%- include("partials/header") -%>
<%-include("partials/mainbg.ejs")-%>
<div class="container">

    <h2 class="txt-services">Contact me via</h2>
    <div class="services">

      <div class="row">
        <a href="https://facebook.com">
        <div class="card col-lg-4 col-xs-6">

          <i class="icon fas fa-map-marker-alt fa-6x"></i>
          <p>Address</p>

        </div>
        </a>
        <a href="#">
        <div class="card  col-lg-4 col-xs-6  ">
          <i class="icon fab fa-instagram fa-6x"></i>
          <p>Instagram</p>

        </div>
        </a>
        <a href="#">
        <div class="card  col-lg-4 col-xs-6">
          <i class="icon fab fa-twitter-square fa-6x"></i>
          <p>Twitter</p>
        </div>
        </a>
        <a href="#">
        <div class="card  col-lg-4 col-xs-6">
          <i class="icon fab fa-facebook-square fa-6x"></i>
          <p>Facebook</p>
        </div>
        </a>
        <a href="#">
        <div class="card  col-lg-4 col-xs-6">
          <i class="icon fas fa-envelope fa-6x"></i>
          <p>MongoDB & Mongoose</p>
        </div>
        </a>
        <a href="#">
        <div class="card  col-lg-4 col-xs-6">
          <i class="icon fab fa-linkedin-in fa-6x"></i>
          <p>Git & Github</p>
        </div>
        </a>
      </div>
      </div>
<%- include("partials/footer") -%>
